[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/cgltf"]
	path = dependencies/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = https://github.com/KhronosGroup/glslang
