[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dependencies/cgltf"]
	path = dependencies/cgltf
	url = git@github.com:jkuhlmann/cgltf.git
[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "dependencies/vma"]
	path = dependencies/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@github.com:g-truc/glm.git
